<div class="detail-section">
    <div class="container-fluid">
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="detail-img">
        <h4>{{product.name}}</h4>
        <p class="price">{{product.unitPrice | currency:'USD'}}</p>
        <button (click)="addToCart(tempProduct)" class="btn btn-primary">Add to Cart</button>

        <hr>
        <h5>Description</h5>
        <p>{{product.description}}</p>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>

